/*===Variables===*/
:root {
  /*===Colors===*/
  --background-color: #f2ebe3;
  --primary-color: #3c8067;
  --white-color: #fff;
  --title-color: #1c232b;
  --font-color: #6c7289;

  /*===Fonts===*/
  --font-title: "Fraunces", serif;
  --font-text: "Montserrat", sans-serif;
}

/*===Global styles===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  background-color: var(--background-color);
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 1.6rem;
}
.container {
  min-width: 20rem;
  max-width: 72rem;
  border-radius: 0.8rem;
  background-color: var(--white-color);
}
.card__img img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}
