/*===Variables===*/
:root {
  /*===Colors===*/
  --background-color: #f2ebe3;
  --primary-color: #3c8067;
  --white-color: #fff;
  --title-color: #1c232b;
  --font-color: #6c7289;

  /*===Fonts===*/
  --font-title: "Fraunces", serif;
  --font-text: "Montserrat", sans-serif;
}

/*===Global styles===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  background-color: var(--background-color);
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 1.6rem;
}
.container {
  min-width: 20rem;
  max-width: 56rem;
  border-radius: 0.8rem;
  background-color: var(--white-color);
}
.card__img img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}

/*===styles===*/
.card__section {
  margin: 1.6rem 0;
  padding: 0 1.6rem;
}
.card__subtitle {
  margin-bottom: 1.6rem;
  font-family: var(--font-text);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--font-color);
}
.card__title {
  margin-bottom: 1.6rem;
  font-family: var(--font-title);
  font-size: 3.2rem;
  line-height: 1;
  color: var(--title-color);
}
.card__description {
  margin-bottom: 1.6rem;
  font-family: var(--font-text);
  font-size: 1.45rem;
  color: var(--font-color);
}
.card__price {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.card__price-discount {
  font-family: var(--font-title);
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--primary-color);
}
.card__price-regular {
  font-family: var(--font-text);
  font-size: 1.4rem;
  text-decoration: line-through;
  color: var(--font-color);
}
.card__button {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.card__button i {
  display: inline-block;
  width: 15px;
  height: 16px;
  margin-right: 0.8rem;
  background-image: url("../assets/images/icon-cart.svg");
  background-repeat: no-repeat;
}
.card__button:hover {
  cursor: pointer;
  background-color: #285544;
}

/*===Footer===*/
.attribution {
  margin-top: 1.6rem;
  font-family: var(--font-text);
  font-size: 1.2rem;
  text-align: center;
  color: var(--font-color);
}
.attribution a {
  color: var(--title-color);
  text-decoration: none;
}
.attribution a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/*===styles for desktop===*/
@media (min-width: 720px) {
  .container {
    display: flex;
  }
  .card__img img {
    width: 28rem;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem;
  }
  .card__section {
    margin: 2.4rem 0;
    padding: 0 2.4rem;
  }
  .card__button {
    height: 4.8rem;
  }
}
